i{
    font-size: 25px;
    color: #fff;
    position: relative;
}
i span{
    position: absolute;
    font-size: 13px;
    color: forestgreen;
    background-color: #fff;
    padding: 1px 3px;
    border-radius: 100%;
    top: 9px;
    right: 105px;
}


a{
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
}
.box{
    border: 1px solid grey;
    border-radius: 5px;
    padding: 15px;
    margin: 25px;
}
img{
    width: 100%;
}
#btn{
    background-color: orange;
}
.yx{
    color: red;
}